<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <%= (locals.book)? book.title + " - by " + book.author : "book notes" %> |
      Rahul Bhikundia
    </title>
    <link href="/styles/index.css" rel="stylesheet" />
    <link href="https://db.onlinewebfonts.com/c/5ef1d874f7e6c2b682f531ccf6479eeb?family=Valkyrie+C4" rel="stylesheet">
    
  </head>
  <body>
    <header id="masthead">
      <a href="/" title="Rahul Bhikundia">Rahul Bhikundia</a>
    </header>
    
